body{
    color: #eeca03;
    background-color: #252525;
}

.container{
    flex-direction: column;
    margin: auto;
    width: 70%;
}

#drawing-canvas{
    display: block;
    cursor: crosshair;
}

#canvas-div{
    background-color: white;
    margin-right: 5px;
}

#ferramentas-div{
    background-color: #363636;
}

#color-input{
    display: none;
}

#color-div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon{
    font-size: 35px;
    color: #eeca03;
    cursor: pointer;
}

[class*="icon-"]{
    position: relative;
    left: 3px;
}

.flex{
    display: flex;
}

.header{
    height: 150px;
    background-image: url("../../src/img/header.png");
    background-repeat: no-repeat;
    background-size: 350px 175px;
}

.content{
    width: 100%;
}

.ferramentas{
    flex-direction: column;
    margin-right: 5px;
}

.ferramenta{
    position: relative;
    padding: 15px 10px;
}

.ferramenta.selected{
    background-color: #444444;
}

.ferramenta.selected::after{    
    position: absolute;
    content: ' ';
    border: 8px solid #eeca03;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    right: 0;
    top: 0;     
}

.ferramenta-bottom{
    align-self: flex-end;
    margin-top: auto;
}

.ferramenta:hover{
    background-color: #444444;
}

.opcoes{
    background-color:#363636;
    width: 100px;
}

.selected{
    position: relative;
    background-color: #444444;
}

.selected:after{
    content: ' ';
    border: 10px solid #eeca03;
    border-bottom-left-radius: 50PX;
    position: absolute;
    right: 0;
    top: 0;
}

#opcoes-pincel{
    width: 100%;
}
[id*="div-tamanho-"]{
    height: 50px;
    width: 100%;    
    cursor: pointer;
}

[id*="div-tamanho-"]:hover{
    background-color: #444444;
}

[class*="div-tamanho-"]{
    background-color: black;
    border: 1px solid white;
    margin: auto;
    border-radius: 50%;
    position: relative;
}

[class*="div-tamanho-"].selected{
    background-color: #eeca03;
}

.div-tamanho-5{
    width: 5px;
    height: 5px;
    top: 45%;
}

.div-tamanho-10{
    width: 10px;
    height: 10px;
    top: 40%;
}

.div-tamanho-15{
    width: 15px;
    height: 15px;
    top: 35%;
}

.div-tamanho-20{
    width: 20px;
    height: 20px;
    top: 25%;
}

.div-tamanho-25{
    width: 25px;
    height: 25px;
    top: 20%;
}
